body {
  background-color: #5A4906;
  color: #fff;
  text-align: center;
}

#addTime {
  width: 200px; 
  height: 33px;
  color: #000;
}

.btn-primary {
  padding: 10px 15px; 
  font-size: 1.6em;
}

#isReady {

}

#currentTime {
  margin: 1em; 
  font-size: 1.8em;
  font-weight: 100;
}

#timer_container {
  margin: 1em 0 0 0;
}

.timer {
  font-size: 1.4em;
  margin: 0 auto;
  padding: .2em 0 .5em 0;
  border-radius: 5px;
  background-color: rgba(44, 36, 3, 1);
  opacity: .5;
  display: block;
  transition: all 0.5s ease;
  border: 1px solid #000;
}

.counter {
  font-size: 2em;
  opacity: .5;
  position: absolute;
  left: 24px;
  margin-top: -4px;
}

.timer:first-child, .timer:hover {
  opacity: 1;
  background-color: rgba(44, 36, 3, .7);
}

.timer .btn-info {
  padding: 5px 10px; 
  font-size: 12px;
}

.timer p {
  margin: 0;
  padding: 0;
}

.timer .description {
  font-size: .7em; 
  font-weight: 300;
  padding: .5em 0 .8em 0;
}

#startStop {
  margin: 2em 0;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer;
}
